@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 700;
}
h2{
  font-family: "Roboto", sans-serif;
  font-size: 32px;
}
p{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
